@model UserEditVM
@{
    ViewData["Title"] = "UserEdit";
    Layout = "~/Areas/Admin/Views/Shader/_Layout.cshtml";
}


@* <link href="~/Admin/assets/img/user2.png rel="icon">
<link href="~/Admin/assets/img/user2.png" rel="apple-touch-icon"> *@

<style>
    body {
        font-family: 'Roboto', sans-serif;
        color: #333;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Merriweather', serif;
        color: #222;
        font-weight: 700;
    }

    p, li, a {
        font-family: 'Roboto', sans-serif;
        color: #555;
        text-align: left; /* Asegura que todos los párrafos estén alineados a la izquierda */
    }

    .faq-question {
        font-weight: 500;
        font-size: 1.25rem;
        margin-bottom: 10px;
        text-align: left; /* Alinea el texto a la izquierda */
    }

    .faq-answer {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.6;
        margin-bottom: 20px;
        text-align: left; /* Alinea el texto a la izquierda */
    }

    .card-header {
        font-family: 'Merriweather', serif;
        font-weight: 700;
        font-size: 1.5rem;
    }

    .card-body {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 1rem;
    }

    .form-container {
        max-width: 600px; /* Ajusta el ancho según sea necesario */
        margin: 0 auto; /* Centra el contenedor horizontalmente */
        background-color: white; /* Asegúrate de que el fondo sea blanco */
        padding: 20px; /* Agrega algo de padding para mejorar la apariencia */
        border-radius: 8px; /* Opcional: agrega esquinas redondeadas */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Opcional: agrega una sombra sutil */
        text-align: left; /* Alinea el texto a la izquierda */
    }

    .form-group {
        text-align: left; /* Alinea el texto a la izquierda */
    }
</style>

<div class="pagetitle">
    <h1>Perfil</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Usuarios</li>
            <li class="breadcrumb-item active">Perfil</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section profile">
    <div class="row">
        <div class="col-xl-4">

            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                    @await Component.InvokeAsync("Layout", ViewBag.Id)
                    <h2>@User.Identity!.Name</h2>
                    <h3>Rol x</h3>
                    <div class="social-links mt-2">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8">

            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">
                                Descripción general
                            </button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Editar Perfil</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Ajustes</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Resetear Contraseña</button>
                        </li>

                    </ul>
                    <div class="tab-content pt-2">

                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                            <h5 class="card-title">Acerca de</h5>
                            <p class="small fst-italic">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</p>

                            <h5 class="card-title">Detalles del perfil</h5>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Nombre de Usuario</div>
                                <div class="col-lg-9 col-md-8">@Model.Username</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Email</div>
                                <div class="col-lg-9 col-md-8">@Model.Email</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Número de teléfono</div>
                                <div class="col-lg-9 col-md-8">@Model.PhoneNumber</div>
                            </div>
                        </div>

                        <div class="tab-pane fade profile-edit pt-3" id="profile-edit">


                            @if (!string.IsNullOrEmpty(ViewBag.Result))
                            {
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <div asp-validation-summary="All"></div>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            }

                            <form class="row g-3" asp-controller="AuthenticationUser" asp-action="UserEdit" method="post" enctype="multipart/form-data">
                                <input asp-for="ConcurrencyStamp" type="hidden" />

                                <div class="col-12">
                                    <label asp-for="Username" class="form-label">Username</label>
                                    <input asp-for="Username" type="text" class="form-control">
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                </div>

                                <div class="col-12">
                                    <label asp-for="Email" class="form-label">Email</label>
                                    <input asp-for="Email" type="text" class="form-control">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
                                    <input asp-for="PhoneNumber" type="text" class="form-control">
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>

                                <div class="col-12">
                                    <label asp-for="Password" class="form-label">Password</label>
                                    <input asp-for="Password" type="text" class="form-control">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <div class="col-12">
                                    <label asp-for="NewPassword" class="form-label">New Password</label>
                                    <input asp-for="NewPassword" type="text" class="form-control">
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label asp-for="ConfirmNewPassword" class="form-label">Confirm New Password</label>
                                    <input asp-for="ConfirmNewPassword" type="text" class="form-control">
                                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input asp-for="Photo" accept="image/*" type="file" class="form-control" placeholder="Photo">
                                        <span asp-validation-for="Photo" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit">Save Changes</button>
                                </div>
                            </form>

                        </div>

                        <div class="tab-pane fade pt-3" id="profile-settings">

                            <!-- Settings Form -->
                            <form>

                                <div class="row mb-3">
                                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
                                    <div class="col-md-8 col-lg-9">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="changesMade" checked>
                                            <label class="form-check-label" for="changesMade">
                                                Changes made to your account
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="newProducts" checked>
                                            <label class="form-check-label" for="newProducts">
                                                Information on new products and services
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="proOffers">
                                            <label class="form-check-label" for="proOffers">
                                                Marketing and promo offers
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="securityNotify" checked disabled>
                                            <label class="form-check-label" for="securityNotify">
                                                Security alerts
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                </div>
                            </form><!-- End settings Form -->

                        </div>

                        <div class="tab-pane fade pt-3" id="profile-change-password">
                            <!-- Change Password Form -->
                            <form>

                                <div class="row mb-3">
                                    <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="password" type="password" class="form-control" id="currentPassword">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="newpassword" type="password" class="form-control" id="newPassword">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Change Password</button>
                                </div>
                            </form><!-- End Change Password Form -->

                        </div>

                    </div><!-- End Bordered Tabs -->

                </div>
            </div>

        </div>
    </div>
</section>
